*{
    margin: 0px;
    padding: 0px;
    font-family: "quicksand";
}

body{
    /* background-color: rgb(102, 102, 102); */
    background-image: url('./img/coder2.webp');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    background-position: center;
    background-attachment: fixed;
    background-color: rgba(0, 0, 0, 0.911);
}

button{
    margin-top: 30px;
}

.formulario{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: large;
}

.titulo{
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 40px;
    color: rgb(229, 245, 13);
}

.hover{
    color: rgb(229, 245, 13);
    transition: all 0.3s linear ;
}

